{%extends "blog/base.html"%}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{post.title}}</a></h2>
									</div>
									<div class="meta">
										<time class="published">{{post.publish}}</time>
									</div>
								</header>
								<a href="#" class="image featured">{% if post.image %}
									<img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%;">
								{% endif %}</a>
								<p>{{post.body|linebreaks}}</p>
								<footer>
									<ul class="stats">
										<li>
											<a href="" class="icon solid fa-heart" id="like-icon" data-post-id="{{ post.id }}">
												{{ post.likes }}</a>
										</li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
							<article class="post comments">
								<header>
									<div class="title">
										<h2>Comments</h2>
									</div>
								</header>
							
								<!-- Comment Form -->
								<form id="commentForm" action="/submit-comment" method="POST">
									
										
										<input type="text" id="name" name="name" placeholder="Nickname" required>
									<br>
										<textarea id="comment" name="comment" rows="4" placeholder="Comment" required></textarea>
									
							<br>
								
										<button type="submit">Submit</button>
							
								</form>
							
								<!-- Display Comments -->
								<div id="commentsDisplay">
									<!-- Example Random Comment -->
									<div class="comment" style="border-bottom: solid 1px rgba(160, 160, 160, 0.3);" >
										<strong>John Doe</strong> (john.doe@example.com):
										<p>This is a great post! I really enjoyed reading it. Keep up the good work!</p>
										<small>Posted on: October 5, 2023</small>
									</div>
									<div class="comment" style="border-bottom: solid 1px rgba(160, 160, 160, 0.3);">
										<strong>John Doe</strong> (john.doe@example.com):
										<p>This is a great post! I really enjoyed reading it. Keep up the good work!</p>
										<small>Posted on: October 5, 2023</small>
									</div>
								</div>
							</article>
					</div>
{% endblock %}