{%extends "blog/base.html"%}
{% block title %}Inazuma Stark{% endblock %}
{% block content%}
<div class="main_list">
	<!-- Main -->
		<div id="main">
			<!-- Post -->
			{% if posts %}
				{% for post in posts %}
					<article class="post">
						<header>
							<div class="title">
								<h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
								<p></p>
							</div>
							<div class="meta">
								<time class="published">{{post.publish}}</time>
							</div>
						</header>
						<a href="{{post.get_absolute_url}}" class="image featured">{% if post.image %}
							<img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%;">
						{% endif %}</a>
						<p>{{ post.body|truncatewords:30|linebreaks }}</p>
						<footer>
							<ul class="actions">
								<li><a href="{{post.get_absolute_url}}" class="button large">Continue Reading</a></li>
							</ul>
							<ul class="stats">
								<li>
									<a href="" class="icon solid fa-heart" id="like-icon" data-post-id="{{ post.id }}">
										{{ post.likes }}
									</a>
								</li>
								<li><a href="{{post.get_absolute_url}}" class="icon solid fa-comment">128</a></li>
							</ul>
						</footer>
					</article>
				{% endfor %}
						<!-- Pagination -->

				<ul class="actions pagination">
					{% if page_obj.has_previous %}
					<li><a href="?page={{page_obj.previous_page_number}}" class="button large previous">Previous Page</a></li>
					{% endif %}
					<!-- <li>{{posts.number}}</li> -->
					{% if page_obj.has_next %}
					<li><a href="?page={{page_obj.next_page_number}}" class="button large next">Next Page</a></li>
					{% endif %}

				</ul>
			{% else %}
				<p>No results found.</p>
			{% endif %}			
							
							
		</div>
				<!-- Sidebar -->
					<section id="sidebar">



								<h3>Most Liked</h3>

						<!-- Posts List -->
							<section>
								<ul class="posts">
									{% for post in most_liked_posts %}
									<li>
										<article>
											<header>
												<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
												<time class="published">{{post.publish}}</time>
											</header>
											<a href="{{ post.get_absolute_url }}" class="image"><img src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
										</article>
									</li>
									{% endfor %}
								</ul>
							</section>
							

							<h3>Pinned</h3>


							<!-- Mini Posts -->
								<section>
									{% for post in pinned_posts %}
									<div class="mini-posts">
	
										<!-- Mini Post -->
											<article class="mini-post">
												<header>
													<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
													<time class="published">{{post.publish}}</time>
												</header>
												<a href="{{ post.get_absolute_url }}" class="image"><img src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
											</article>
											
									</div>
									{% empty %}
									<p>No pinned posts.</p>
									{% endfor %}
								</section>
					</section>
				</div>
{% endblock %}